body {
    background-color: #bbe2ff;
    font-size: 15px;
    margin: 85px 75px 0;
    font-family: "Segoe UI";
}

.wrapper {
    background-color: #fff;
    border-radius: 20px 20px 0 0;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
}

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 25px;
}

/* Header */

header {
    padding: 40px 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.logo h1 {
    font-size: 26px;
}

.logo img {
    height: 60px;
}

header nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 15px;
}

header .buttons {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    align-items: center;
    gap: 30px;
}

header .buttons img {
    height: 16px;
}

header .buttons a {
    text-transform: uppercase;
}

/* Slider */

.swiper {
    width: 100%;
    border-radius: 20px;
}

.swiper-wrapper {
    border-radius: 20px;
}

.swiper-slide {
    border-radius: 20px;
}

.slider__image {
    width: 100%;
    border-radius: 20px;
}





/* Catalog */

.products__title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
}

.products__title a {
    padding: 10px;
    border-radius: 10px;
    background-color: #206da0;
    color: #fff;
}

.products__title h2 {
    font-size: 22px;
}

.products__title form input {
    padding: 10px;
    outline: none;
    border: 1px solid #bcbcbc;
    font-family: "Segoe UI";
    border-radius: 10px;
    width: 200px;
}

.products__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 40px 0;
}

.admin-btns {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

/*.products__wrapper h2 {}*/

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.product .header {
    position: relative;
}

.product .header .price {
    position: absolute;
    z-index: 1;
    bottom: 20px;
    right: 20px;
    padding: 5px;
    background-color: #fff;
    border-radius: 5px;
    color: #206da0;
    font-weight: 700;
    border: 1px solid #bbe2ff;
}

.product .header img {
    width: 100%;
    border-radius: 10px;
    height: 300px;
    object-fit: cover;
}

.product .footer p {
    text-align: center;
}


/* Pagination */

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.pagination a {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #bcbcbc;
}

/* Footer */

footer {
    background-color: #1e1e1e;
    padding: 40px 0;
    margin-top: 30px;
}

.footer__inner {
    display: grid;
    flex-direction: row;
    grid-template-columns: 1fr 1fr 1fr;
    color: #e5e7eb;
    align-items: center;
}

.footer__inner nav {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: end;
}

.footer__inner .about {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 200px;
}

.footer__inner .about p {
    font-size: 14px;
}

.footer__inner .contacts {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

/*  Main section */

.main {
    padding: 40px 0;
}

.main form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 400px;
    margin: 0 auto;
}

.main form .form-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
}



